* {
    background-color:black;
    color: #fff;
}

.myname {
    font-weight: 400;
    font: Bebas Neue;
    font-size: 32px;
    justify-content: space-between;
}

ul {
    display: inline;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 32px;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    /* text-emphasis-color: white; */
}

.header {
    justify-content: space-between;
}

.h1 {
    height: 360px;
    width: 544px;
    gap: 40px;
    padding: 22px;
    justify-content: center;
}

.h5 {
    justify-content:first baseline ;
    height: auto;
}

.myimage {
    padding:;
    height: 732px;
    width: 600px;
    top: 126px; 
    left: 732px;
} 

.btn {
    color: #D3E97A;
    padding: top 20px; bottom: 20px;right: 6px;left: 24px;
    gap: 12px;
}
   


