* {
    background-color:black;
    color: #fff;
    max-width: 100%;
    height: auto;
    
}
/* 
.myname {
    font-weight: 400;
    font: Bebas Neue;
    font-size: 32px;
    justify-content: space-between;
} */
.container {
    padding: 0 30px;
}

.container nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}



.container nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 32px;
}
 
.container nav li {
    list-style: none;
    text-decoration: none;
}

/* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px,60px,24px,60px;
} */

.h1 {
    /* font-size: 101px; */
    font-weight: 400px;
    font: Bebas Neue;
    /* height: 182px; */
    /* line-height: 90.9px; */
    width: 544px;
    gap: 40px;
    padding: 22px;
    justify-content: center;
    /* justify-content: space-around; */
}



.h5 {
    justify-content:first baseline ;
    height: auto;
}



.btn {
    background-color: #D3E97A;
    color: #0b0e01;
    gap: 12px;
    padding: 20px,6px,20px,24px;
    border-radius: 100px; 
     border-style: none ;
    font-size: large
    
    
    /* border-radius: 12px;
  padding: 5px */

    
}

 .my.myname { object-fit: contain; 
    border-radius: 10px; 
    float: right;                                                       
    position: relative;
    right: -600px;
    align-items: center;
 }
    /* height: auto;
    width: 600px;
    float: right;
    object-fit: contain;
    position: relative;
    right: 0px;
    border-radius: 10px;
}  */

.home-image {
    display: flex;
    flex-direction: row;
    gap: 16px;
    
}

.head {
    justify-conten/home/rift-koders/assignments/capstone-project-riftkoders/index.html
    display: flex;
    flex-direction: row;
    gap: 48px;
    
    /* justify-content: center; */
}


.feature-head {
    font:Bebas Neue ;
    font-weight: 400;
    font-size: 76px;
    
}

.intro {
    font:Bebas Neue ;
    font-weight: 400;
    font-size: 101px;
}

.im-png {
    padding-top: 78px;
    padding-bottom: 78px;
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 600px;
    gap: 120px;
    justify-content: space-around;
}

.about-me {
    padding-top: 0%;
    padding-left: 1091px;
    padding-bottom: 560px;
    left: 678px;
    
    gap: 46px;
    
}

.feature {
    padding-right: 62px;
}

.myimage {
    padding-left: 650px;
    padding-top: 0px;
    padding-bottom: 89px;
}

.about {
    padding-top: 78px;
}

.footer {
    padding-top: 58px;
}




